
# input and output files
/*.img
/*.iso

/original_images/boot.img
/original_images/system.img
/original_images/base

/additional_contents

# intermediate files
*.swp

/cd_build_dir/
/system_fs

/unix
/unix.hex
/unix.cdramd_128
/unix.cdramd_128.hex

/boot.cdramd_128.img.hex

/system_temp

/mounts/orig
/mounts/modified
